<div class="container">
    <aside id="aside" #sideMenu>
        <div class="top">
            <div class="logo">
                <img style="width: 70px; height: 100%; filter: invert(0%) brightness(100%);" src="assets/img/logo.png" alt="">
            </div>
            <div class="close" id="close-btn">
                <span (click)="toggleSideBar()" class="material-symbols-sharp">close</span>
            </div>
        </div>
        <div class="sidebar">
            <a routerLink="/admin" >
                <span class="material-symbols-outlined">
                    home
                    </span>
                <h3>Ana Sayfa</h3>
            </a>
            <a routerLink="/admin/category" >
                <span class="material-symbols-outlined">
                    category
                    </span>
                <h3>Categories</h3>
            </a>
            <!-- <a routerLink="/service">
                <span class="material-symbols-outlined">
                    home_repair_service
                    </span>
                <h3>Hizmetler</h3>
            </a>
            <a routerLink="/process">
                <span class="material-symbols-outlined">
                    account_tree
                    </span>
                <h3>Süreç Yönetimi</h3>
            </a>
            <a routerLink="/product">
                <span class="material-symbols-outlined">
                    inventory_2
                    </span>
                <h3>Ürünler</h3>
            </a>
            <a routerLink="/comment">
                <span class="material-symbols-outlined">
                    comment
                </span>
                <h3>Yorumlar</h3>
            </a>
            <a routerLink="/referance">
                <span class="material-symbols-outlined">
                    groups
                    </span>
                <h3>Referanslar</h3>
            </a>
            <a routerLink="/gallery">
                <span class="material-symbols-outlined">
                    gallery_thumbnail
                    </span>
                <h3>Resim Galerisi</h3>
            </a>
            <a routerLink="/advert">
                <span class="material-symbols-outlined">
                    add_photo_alternate
                    </span>
                <h3>Reklam</h3>
            </a>
            <a routerLink="/information">
                <span class="material-symbols-outlined">
                    contacts
                    </span>
                <h3>Firma Bilgileri</h3>
            </a>
            <a routerLink="/contact" >
                <span class="material-symbols-sharp">mail_outline</span>
                <h3>Mesajlar</h3>
            </a> -->
            <a routerLink="/settings" >
                <span class="material-symbols-sharp">settings</span>
                <h3>Ayarlar</h3>
            </a>
            <a (click)="logout()" href="/">
                <span  class="material-symbols-sharp">logout</span>
                <h3>Çıkış</h3>
            </a>
        </div>
    </aside>
    
    <main>
        <router-outlet></router-outlet>
    </main>

   
    <div class="right">
        <div class="top">
            <button id="menu-btn">
                <span (click)="toggleSideBar()" class="material-symbols-sharp">menu</span>
            </button>
            <div class="theme-toggler" (click)="toggleTheme()">
                <span class="material-symbols-sharp" [class.active]="!isDarkTheme">light_mode</span>
                <span class="material-symbols-sharp" [class.active]="isDarkTheme">dark_mode</span>
              </div>
            <div class="profile">
                <div class="info">
                    <h4 style="font-size: 14px; font-weight: 700;"> {{auth.user.userName}}</h4>
                    <b>{{auth.user.email}}</b>
                    <h3>Admin </h3>
                </div>
            </div>
        </div>

        <!-- <div class="recent-updates">
            <h2>{{messageCount}} Yeni Mesaj</h2>
            <div class="updates">
                @for (contact of contacts; track contact) {
                    <div class="update">
                        <div class="profile-photo">
                            <img src="/assets/img/default-user-1-min.png" alt="">
                        </div>
                        <div class="message">
                            <p><b>{{contact.name}}</b>, {{contact.email}}</p>
                            <p>{{contact.subject}}</p>

                            <small class="text-muted-1">{{contact.createdDate | date: ""}}</small>
                        </div>
                    </div>    
                }
            </div>
        </div> -->
    </div>
</div>
