.bg-img {
    background: url('/assets/img/wallpaper3.png') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

#Projects {
    width: 100%;
    display: flex;
    align-items: center;
    /* padding: 30px 0; */
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.items-links {
    width: 60%;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: nowrap;
    /* overflow-x: auto; */
}

.gallery-container {
    height: 660px;
    /* Sabit bir yükseklik belirleyerek scroll olmasını sağla */
    overflow-y: auto;
    /* Sadece bu alan kaydırılabilir */
    margin-top: 20px;
    /* items-links ile çakışmayı önler */
    overflow-y: scroll;
    /* Kaydırmayı aktif ediyoruz */
    scrollbar-width: none;
    /* Firefox için kaydırma çubuğunu gizler */
}

.item-link {
    /* min-width: 190px; */
    border: 2px solid #afafaf;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 700;
    color: #efefef;
    cursor: pointer;
    border-radius: 20px;
    transition: .4s ease;
    text-align: center;
    white-space: nowrap;
    display: inline-block;
}

.item-link:hover {
    background: #afafaf;
    color: #262626;
}

.menu-active {
    background: #afafaf;
    color: #262626;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.project-img {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(175, 175, 175, 0.4);
    height: 14rem;
    animation: SclAnimation .4s ease;
    position: relative;
}

@keyframes SclAnimation {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.project-img:hover .overlay {
    top: 0;
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background: linear-gradient(transparent, #000);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    transition: .4s ease;
}

.overlay h4 {
    font-size: 20px;
    color: #fff;
}

.overlay p {
    font-size: 16px;
    color: #efefef;
    text-align: center;
    width: 90%;
}

.action-aria {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn {
    display: inline-block;
    width: fit-content;
    padding: 10px 20px;
    background: #efefef;
    border-radius: 12px;
    text-decoration: none;
    color: #262626;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid transparent;
    transition: .4s ease;
}

.btn-light {
    background: transparent;
    border-color: #fff;
    color: #fff;
}

.btn:hover {
    background: transparent;
    border-color: #fff;
    color: #fff;
}

.btn-light:hover {
    background: #efefef;
    color: #262626;
}

.project-img:hover img {
    transform: scale(1.1);
}

img {
    width: 100%;
    min-height: 200px;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: .4s ease;
}

@media (max-width: 1024px) {
    .container {
        width: 90%;
    }

    .items-links {
        width: 90%;
    }

    .bg-img{
        background: url('/assets/img/wallpaper.png') no-repeat center center fixed;
    }
}

@media (max-width: 991px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
    }

    .items-links {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .gallery {
        grid-template-columns: 1fr;
    }

    .items-links {
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
    }

    .project-img {
        height: max-content;
    }
}