<div class="bg-img">
    <!-- <h1 style="text-align: center; color: #fff; margin-top: 20px;">Projelerim</h1> -->
    <section id="Projects">
        <div class="container">
            <div class="items-links">
                <span class="item-link menu-active" data-name="all">Hepsi</span>
                <span *ngFor="let mainCategory of mainCategories" class="item-link"
                    [attr.data-name]="mainCategory.categoryName.toLocaleLowerCase()">{{mainCategory.categoryName}}</span>
                <!-- <span class="item-link" data-name="backend">Backend</span>
                <span class="item-link" data-name="frontend">Frontend</span>
                <span class="item-link" data-name="electronic">Electronic</span> -->
            </div>

            <div class="gallery-container">

                <div class="gallery">
                    @for (category of mainCategories; track category) {
                        @if (category.subCategories !== null) {
                            @for (subCategory of category.subCategories; track subCategory) {
                            <div *ngFor="let project of subCategory.projects" class="project-img"
                                [attr.data-name]="category.categoryName.toLocaleLowerCase()">
                                <img src="{{imageUrl}}{{project.image}}" alt="">
                                <div class="overlay">
                                    <h4>{{project.title}}</h4>
                                    <p>{{subCategory.categoryName}}</p>
                                    <p>{{project.description}}</p>
                                    <div class="action-aria">
                                        <a *ngFor="let link of project.links" href="{{link.url}}" target="_blank"
                                            class="btn">{{link.title}}</a>
                                        <!-- <a href="" class="btn btn-light">Github</a> -->
                                    </div>
                                </div>
                            </div>
                            }
                        }
                        <div *ngFor="let project of category.projects" class="project-img"
                            [attr.data-name]="category.categoryName.toLocaleLowerCase()">
                            <img src="{{imageUrl}}{{project.image}}" alt="">
                            <div class="overlay">
                                <h4>{{project.title}}</h4>
                                <p>{{project.description}}</p>
                                <div class="action-aria">
                                    <a *ngFor="let link of project.links" href="{{link.url}}" target="_blank"
                                        class="btn">{{link.title}}</a>
                                    <!-- <a href="" class="btn btn-light">Github</a> -->
                                </div>
                            </div>
                        </div>
                    }
                    <!-- <div class="project-img" data-name="backend">
                        <img src="/assets/img/Automapper.png" alt="">
                        <div class="overlay">
                            <h4>Web Project</h4>
                            <div class="action-aria">
                                <a href="" class="btn">Live Demo</a>
                                <a href="" class="btn btn-light">Github</a>
                            </div>
                        </div>
                    </div>
                    <div class="project-img" data-name="elektronik">
                        <img src="/assets/img/dotnet.jpeg" alt="">
                        <div class="overlay">
                            <h4>Web Project</h4>
                            <div class="action-aria">
                                <a href="" class="btn">Live Demo</a>
                                <a href="" class="btn btn-light">Github</a>
                            </div>
                        </div>
                    </div>
                    <div class="project-img" data-name="frontend">
                        <img src="/assets/img/Automapper.png" alt="">
                        <div class="overlay">
                            <h4>Web Project</h4>
                            <div class="action-aria">
                                <a href="" class="btn">Live Demo</a>
                                <a href="" class="btn btn-light">Github</a>
                            </div>
                        </div>
                    </div>
                    <div class="project-img" data-name="backend">
                        <img src="/assets/img/dotnet.jpeg" alt="">
                        <div class="overlay">
                            <h4>Web Project</h4>
                            <div class="action-aria">
                                <a href="" class="btn">Live Demo</a>
                                <a href="" class="btn btn-light">Github</a>
                            </div>
                        </div>
                    </div>
                    <div class="project-img" data-name="electronic">
                        <img src="/assets/img/Automapper.png" alt="">
                        <div class="overlay">
                            <h4>Web Project</h4>
                            <div class="action-aria">
                                <a href="" class="btn">Live Demo</a>
                                <a href="" class="btn btn-light">Github</a>
                            </div>
                        </div>
                    </div>
                    <div class="project-img" data-name="fullstack">
                        <img src="/assets/img/dotnet.jpeg" alt="">
                        <div class="overlay">
                            <h4>Web Project</h4>
                            <div class="action-aria">
                                <a href="" class="btn">Live Demo</a>
                                <a href="" class="btn btn-light">Github</a>
                            </div>
                        </div>
                    </div>
                    <div class="project-img" data-name="backend">
                        <img src="/assets/img/Automapper.png" alt="">
                        <div class="overlay">
                            <h4>Web Project</h4>
                            <div class="action-aria">
                                <a href="" class="btn">Live Demo</a>
                                <a href="" class="btn btn-light">Github</a>
                            </div>
                        </div>
                    </div>
                    <div class="project-img" data-name="backend">
                        <img src="/assets/img/Automapper.png" alt="">
                        <div class="overlay">
                            <h4>Web Project</h4>
                            <div class="action-aria">
                                <a href="" class="btn">Live Demo</a>
                                <a href="" class="btn btn-light">Github</a>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </section>

</div>