<div >
    <!-- <h1 style="text-align: center; color: #fff; margin-top: 20px;">Projelerim</h1> -->
    <section id="Projects">
        <div class="container">
            <div class="items-links">
                <span class="item-link menu-active" data-name="all">All Project</span>
                <span class="item-link" data-name="fullstack">Full Stack</span>
                <span class="item-link" data-name="backend">Backend</span>
                <span class="item-link" data-name="frontend">Frontend</span>
                <!-- <span class="item-link" data-name="electronic">Electronic</span> -->
            </div>

            <div class="gallery-container">

                <div class="gallery">
                    <div class="project-img" data-name="fullstack">
                        <img src="/assets/img/dotnet.jpeg" alt="">
                        <div class="overlay">
                            <h4>Web Project</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                            <div class="action-aria">
                                <a href="" class="btn">Live Demo</a>
                                <a href="" class="btn btn-light">Github</a>
                            </div>
                        </div>
                    </div>
                    <div class="project-img" data-name="backend">
                        <img src="/assets/img/Automapper.png" alt="">
                        <div class="overlay">
                            <h4>Web Project</h4>
                            <div class="action-aria">
                                <a href="" class="btn">Live Demo</a>
                                <a href="" class="btn btn-light">Github</a>
                            </div>
                        </div>
                    </div>
                    <div class="project-img" data-name="electronic">
                        <img src="/assets/img/dotnet.jpeg" alt="">
                        <div class="overlay">
                            <h4>Web Project</h4>
                            <div class="action-aria">
                                <a href="" class="btn">Live Demo</a>
                                <a href="" class="btn btn-light">Github</a>
                            </div>
                        </div>
                    </div>
                    <div class="project-img" data-name="frontend">
                        <img src="/assets/img/Automapper.png" alt="">
                        <div class="overlay">
                            <h4>Web Project</h4>
                            <div class="action-aria">
                                <a href="" class="btn">Live Demo</a>
                                <a href="" class="btn btn-light">Github</a>
                            </div>
                        </div>
                    </div>
                    <div class="project-img" data-name="backend">
                        <img src="/assets/img/dotnet.jpeg" alt="">
                        <div class="overlay">
                            <h4>Web Project</h4>
                            <div class="action-aria">
                                <a href="" class="btn">Live Demo</a>
                                <a href="" class="btn btn-light">Github</a>
                            </div>
                        </div>
                    </div>
                    <div class="project-img" data-name="electronic">
                        <img src="/assets/img/Automapper.png" alt="">
                        <div class="overlay">
                            <h4>Web Project</h4>
                            <div class="action-aria">
                                <a href="" class="btn">Live Demo</a>
                                <a href="" class="btn btn-light">Github</a>
                            </div>
                        </div>
                    </div>
                    <div class="project-img" data-name="fullstack">
                        <img src="/assets/img/dotnet.jpeg" alt="">
                        <div class="overlay">
                            <h4>Web Project</h4>
                            <div class="action-aria">
                                <a href="" class="btn">Live Demo</a>
                                <a href="" class="btn btn-light">Github</a>
                            </div>
                        </div>
                    </div>
                    <div class="project-img" data-name="backend">
                        <img src="/assets/img/Automapper.png" alt="">
                        <div class="overlay">
                            <h4>Web Project</h4>
                            <div class="action-aria">
                                <a href="" class="btn">Live Demo</a>
                                <a href="" class="btn btn-light">Github</a>
                            </div>
                        </div>
                    </div>
                    <div class="project-img" data-name="backend">
                        <img src="/assets/img/Automapper.png" alt="">
                        <div class="overlay">
                            <h4>Web Project</h4>
                            <div class="action-aria">
                                <a href="" class="btn">Live Demo</a>
                                <a href="" class="btn btn-light">Github</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

